.listCont {
	margin-top: 25px;
	width: 100%;
	display: flex;
	flex-wrap:  wrap;
	align-items: flex-start;
	justify-content: space-around;

	.sorting {
		display: flex;
		flex-wrap:  wrap;
		width: 100%;
		font-size: 3rem;
		justify-content: space-around;
		padding-bottom: 25px;

		.fas {
			color: $gray;

			&:hover {
			color:	$dGreen;
			cursor: pointer;
			}
		}
	}

	.droppableCont {
		width: 100%;
		.noteCont {
			width: 95%;
			height: 80px;
			margin-right: 12px;
			margin-bottom: 12px;
			padding: 0px 10px;
			border: 4px solid $pink;
			background-color: #EBDFE9;
			border-radius: 5px;
			overflow: hidden;

			&:hover {
				border: 4px solid $lPurple;
			}

			.editDelete {
				text-align: right;

				a {
					color: $dGreen;
					overflow: hidden;
				}

				.fa-trash-alt {
					padding-left: 10px;
					color: $pink;

					&:hover {
						cursor: pointer;
					}
				}
			}

			a {
				text-decoration: none;
				color: $pink;

				.noteName {
					text-align: center;
					overflow-wrap: break-word;
					margin-top: 0px;
					margin-bottom: 0px;
				}
			}

			.noteContent {
				overflow: hidden;
				margin-top: 3px;
			}
		}
	}
}

