@import "./styles/vars.scss";
@import  "./styles/nav.scss";
@import  "./styles/noteList.scss";
@import  "./styles/singleNote.scss";
@import  "./styles/form.scss";
@import  "./styles/deleteBox.scss";
@import  "./styles/error.scss";
@import "./styles/search.scss";
@import "./styles/home.scss";


.App {
	background-color: $lPurple;
	display: flex;
	width: 90%;
	max-width: 1000px;
	margin: 0 auto;
}

.hidden {
	display: none;
}

.show {
	display: inherit;
}

.highlight {
	background-color: $lGreen;
	padding: 1px;
	border-radius: 5px;
}
