@import "./styles/vars.scss";
@import  "./styles/nav.scss";
@import  "./styles/noteList.scss";
@import  "./styles/singleNote.scss";

.App {
	background-color: $lPurple;
	display: flex;
	width: 90%;
	max-width: 1000px;
	margin: 0 auto;
}

.hidden {
	display: none;
}

.show {
	display: inherit;
}
